<!DOCTYPE html>
<html>
  <head>
    <title>Find it! Rx Map</title>
    <meta name="google-signin-client_id" content="640870181573-71pfius51va5qr4ksh1gh8hjtc9v2g2e.apps.googleusercontent.com">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/layout.css' />
    <link rel="stylesheet" href="/stylesheets/stranger/home.css">
    <link rel="stylesheet" href="/stylesheets/stranger/signup.css">
    <link rel="stylesheet" href="/stylesheets/stranger/awaiting.css">
    <link rel="stylesheet" href="/stylesheets/user/personal-edit.css">
    <link rel="stylesheet" href="/stylesheets/user/pharmacy-page.css">
    <link rel="stylesheet" href="/stylesheets/user/pharmacy-pages.css">
    <link rel="stylesheet" href="/stylesheets/maps/map.css">
  </head>
  <body>


    <header id="layout">
      <nav>
        <div id="home">
          <a href="/" id="logo">
            {{!-- <img src="https://png.icons8.com/metro/1600/pill.png" alt=""> --}}
            {{!-- <img src="https://www.visitgozo.com/wp-content/uploads/2016/09/pharmacy-logo.jpg" alt=""> --}}
            <img src="images/Caduceus_2.png" alt="">
            FIND IT
          </a>
        </div>

        <div id="connection">
          {{#if blahUser}}
            
            {{!-- <a href="/room/add">Add a room</a> --}}
            {{!-- <a href="/my-rooms">See Your Rooms</a> --}}

            {{#if blahUser.isAdmin}}
              <h3>Administrator Zone</h3>
              <a href="/admin/employees">All employees</a>
            {{/if}}

            {{#if blahUser.isPharmacy}}
              <h3>Pharmacy Zone</h3>
              <a href="/pharmacy/employees">All employees</a>
              
            
            {{else}}
            <strong>{{blahUser.fullName}}</strong>
              
            {{/if}}

            | {{blahUser.email}}

          {{else}}
            <a href="/signup" class="access">Sign Up</a>
            <a href="/login" class="access">Log in</a>
          {{/if}}

          

          <div class="dropdown">
              <button class="dropbtn">
                {{#if blahUser}}
                  {{#if blahUser.profilePicture.secure_url}}
                      <img class="profile" src="{{blahUser.profilePicture.secure_url}}" alt="">
                  {{else}}
                      <img class="profile" src="http://svgur.com/i/jJ.svg" alt="">
                  {{/if}}
                {{else}}
                  <span class="glyphicon glyphicon-option-vertical"></span>
                {{/if}}
              
              </button>
                <div class="dropdown-content">
                  {{#if blahUser}}
                  <a href="/portal"><span class="glyphicon glyphicon-plus-sign"></span>My Portal</a>
                  <hr>
                  <a href="/personal/edit"><span class="glyphicon glyphicon-pencil"></span> Edit Profile</a>
                  <hr>
                  {{/if}}
                  <a href="/contact"><span class="glyphicon glyphicon-envelope"></span> Contact</a>
                  <hr>
                  <a href="/About"><span class="glyphicon glyphicon-comment"></span> About</a>
                  <hr>
                  {{#if blahUser}}
                  <a href="/logout"><span class="glyphicon glyphicon-remove"></span> Log Out</a>
                  {{/if}}
              
                </div>
          </div>
        </div>
        
      </nav>
    </header>

    {{{body}}}

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyBhyT3QNbb2e8o7Atie3KZZHwzAqOFrHes"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src='/javascripts/script.js'></script>
    <script src="/javascripts/map.js"></script>
    

  </body>
</html>
