<div id="pharmacy-pages">

<br>
<br>
	<ul class="nav nav-tabs">
	<li><a href="/portal">My portal</a></li>
	<li><a href="/maps">Find pharmacies near me</a></li>
	<li class="active"><a href="/pharmacies">Our database</a></li>
	</ul>

<div class="table-responsive">
    

    <table class="table">
        <h2>Pharmacies</h2>
    <ul>
        <tr class="stores">
            <th>Store Name</th>
            <th>Phone Number</th>
            <th>Store Address</th>
            <th>Prescriptions</th>
            <th>User Rating</th>
        </tr>
    {{#each storeList}}
        <tr class="stores">
            <td><a href="/pharmacies/{{this._id}}">{{this.storeName}}</a><br>
            <button type="button" class="btn btn-default btn-xs"><a href="/pharmacies/{{this._id}}">More Info</a></button></td>
            <td>{{this.storePhoneNumber}}</td>
            <td>{{this.storeAddress}}<br>{{this.storeCity}} {{this.storeZip}}</td>
            <td>{{this.prescriptions}}</td>
            <td>{{this.rating}}</td>

        </div>
    {{/each}}




</ul>
    </table>

<button type="button" class="btn btn-info add"><a href="/pharmacies/add">Add a Pharmacy</a></button>

</div>
    <button type="button" class="btn btn-info"><a href="/pharmacies/add">Add a Pharmacy</a></button>
    <button type="button" class="btn btn-info"><a href="/">Go Home</a></button>

</div>

