<div id="pharmacy-pages">

	<ul class="nav nav-tabs">
	<li class><a href="/portal">My portal</a></li>
	<li><a href="/portal/maps">Find pharmacies near me</a></li>
	<li class="active"><a href="/portal/pharmacies">Our database</a></li>
	</ul>

<div class = "container-fluid">

<div class="table-responsive">
    

    <table class="table">
        <h2>Pharmacies</h2>
    <ul>
        <tr class="stores">
            <th>Store Name</th>
            <th>Phone Number</th>
            <th>Store Address</th>
            <th>Prescriptions Offered</th>
            <th>User Rating</th>
        </tr>
    {{#each storeList}}
        <tr class="stores">
            <td>
            <a href="/pharmacies/{{this._id}}"><button type="button" class="btn btn-default btn-xs edit-button"><strong>{{this.storeName}}</strong></button></a></td>
            <td>{{this.storePhoneNumber}}</td>
            <td>{{this.storeAddress}}<br>{{this.storeCity}} {{this.storeZip}}</td>
            <td>{{this.prescriptions}}</td>
            <td>{{this.rating}}</td>

        </div>
    {{/each}}


</ul>
    </table>
<div class="buttons">
<a href="/pharmacies/add"><button type="button" class="btn btn-default add-button">Add a Pharmacy</button></a>
</div>

</div>

</div>

</div>

