<div id="pharmacy-pages">

<div class = "container">

        <h3>Learn more about {{Store.storeName}}</h3>
        <h4>Phone number: {{Store.storePhoneNumber}}</h4>
        
        <h4>Prescriptions offered: {{Store.prescriptions}}</h4>
        <h4>Pharmacy licenses: {{Store.licenses}}</h4>
        <h4>Services offered: {{Store.services}}</h4>

        <h4>Address:{{Store.storeAddress}}</h4>
        <h4>{{Store.storeCity}}, {{this.storeZip}}</h4>
        <h4>{{Store.storeCountry}}</h4>
        <h4>Operating hours: {{Store.storeHours}}</h4>
        <h4>Rating: {{Store.rating}}</h4>
        <h4>Reviews:</h4>
        <!--Submit rating -->

</div>

<button>Claim as Owner</button>
<button>Add to Favorites</button>
<a href='/pharmacies'>Go Back</a>

<!--
            <h3>{{this.storeName}}</h3>
        <h4>Phone number: {{this.storePhoneNumber}}</h4>
        
        <h4>Prescriptions offered: {{this.prescriptions}}</h4>
        <h4>Pharmacy licenses: {{this.licenses}}</h4>
        <h4>{{this.services}}</h4>

        <h4>{{this.storeAddress}}</h4>
        <h4>{{this.storeCity}}, {{this.storeZip}}</h4>
        <h4>{{this.storeCountry}}</h4>
        <h4>{{this.storeHours}}</h4>
        <h4>{{this.rating}}</h4>
        <h4>Reviews:</h4>

    <a href="/pharmacies/{{this._id}}">More Info</a>
    <a href="/pharmacies/{{this._id}}/edit">Edit</a>
    -->