<div id="pharmacy-pages">

	<ul class="nav nav-tabs">
	    <li class="not-active"><a href="/portal">My portal</a></li>
	    <li class="not-active"><a href="/portal/maps">Find pharmacies near me</a></li>
	    <li class="not-active"><a href="/portal/pharmacies">Our database</a></li>
	</ul>


    <div class="container-fluid">
<!--
        <div class = "table-responsive">
        <table class="table">
            <h2>User feedback about {{Store.storeName}}</h2>
        <tr>
        <th>Average rating:</th>
        <td>{{Store.rating}}</td>
        </tr>
        <tr>
        <th>User reviews:</th>
        <td>{{Store.reviews}}</td>
        </tr>
 

    </div>

</table>
<div class="buttons">
<a href="/"><button type="button" class="add-button">Add to Favorites</button></a>  
<a href="/pharmacies/edit"><button type="button" class="add-button">Leave a review</button></a>
</div>
-->
</div>
<div class = "table-responsive">
    <table class="table">
<h2>More information</h2>

    
    <tr>
        <th>Store Address:</th>
        <td>{{Store.storeAddress}}<br>{{Store.storeCity}} {{Store.storeZip}}<br>{{Store.storeCountry}}</td>
    </tr>
    <tr>
        <th>Phone Number:</th>
        <td>{{Store.storePhoneNumber}}</td>
    </tr>

    <tr>
        <th>Licenses:</th>
        <td>{{Store.storeLicenses}}</td>
    </tr>
    <tr>
        <th>Prescriptions:</th>
        <td>{{Store.storePrescriptions}}</td>
    </tr>
    <tr>
        <th>Services:</th>
        <td>{{Store.storeServices}}</td>
    </tr>
    </table>
    <!--
    <div class="buttons">
    <a href="/pharmacies/edit"><button type="button" class="add-button">Edit Details</button></a>
    </div>
-->
</div>
