<div id="pharmacy-pages">

<br>
<br>

<div class="container">
<div class = "table-responsive">
    <table class="table">
<h2>More information about {{Store.storeName}}</h2>

    
    <tr>
        <th>Store Address:</th>
        <td>{{Store.storeAddress}}<br>{{Store.storeCity}} {{Store.storeZip}}<br>{{Store.storeCountry}}</td>
    </tr>
    <tr>
        <th>Phone Number:</th>
        <td>{{Store.storePhoneNumber}}</td>
    </tr>
    <tr>
        <th>Store Hours:</th>
        <td>{{Store.storeHours}}</td>
    </tr>

    <tr>
        <th>Licenses:</th>
        <td>{{Store.storeLicenses}}</td>
    </tr>
    <tr>
        <th>Prescriptions:</th>
        <td>{{Store.storePrescriptions}}</td>
    </tr>
    <tr>
        <th>Services:</th>
        <td>{{Store.storeServices}}</td>
    </tr>
    </table>

</div>
</div>

<div class="container-one">
    <div class = "table-responsive">
    <table class="table">
    <h2>User feedback</h2>
<tr>
    <th>Average rating:</th>
    <td>{{Store.rating}}</td>
</tr>
<tr>
    <th>User reviews:</th>
    <td>{{Store.reviews}}</td>
</tr>

</div>
</table>
</div>

<button>Claim as Owner</button>
<button>Add to Favorites</button>
<a href='/pharmacies'>Go Back</a>

<!--
            <h3>{{this.storeName}}</h3>
        <h4>Phone number: {{this.storePhoneNumber}}</h4>
        
        <h4>Prescriptions offered: {{this.prescriptions}}</h4>
        <h4>Pharmacy licenses: {{this.licenses}}</h4>
        <h4>{{this.services}}</h4>

        <h4>{{this.storeAddress}}</h4>
        <h4>{{this.storeCity}}, {{this.storeZip}}</h4>
        <h4>{{this.storeCountry}}</h4>
        <h4>{{this.storeHours}}</h4>
        <h4>{{this.rating}}</h4>
        <h4>Reviews:</h4>

    <a href="/pharmacies/{{this._id}}">More Info</a>
    <a href="/pharmacies/{{this._id}}/edit">Edit</a>
    -->